* {
	box-sizing: border-box;
}
.gg{
	display:grid;
	grid-template-areas:
	"img h2";
}
header{
	background: linear-gradient(45deg, #c5c2da, #cea62e);
}
header h2{
	font-size:26pt;
	color:white;
	margin-right:10px;
}
#hh{
	display:grid;
	grid-template-areas:
	"box box2"
	"box3 box4";
}
#hh section{
	margin:20px;
	box-shadow:2px 2px 6px 6px black;
}
#hh h4{
	color:#dcb747;
}
#box{
	border:2px solid green;
}
#box2{
	border:2px solid black;
}
#box3{
	border:2px solid black;
}
#box4{
	border:2px solid black;
}
#hh img{
	width:200px;
	height:auto;
}
#top-nav{
	overflow:hidden;
 	background-color: #333;
}
header img{
	width:100px;
	height:auto;
	margin-left:10px;
}

#top-nav a{
	float: left;
	color: #f2f2f2;
  	text-align: center;
  	padding: 14px 16px;
  	text-decoration: none;
  	font-size: 17px;
  	width:33.33%;
}
#top-nav a:hover{
	background-color: #ddd;
  	color: black;
}
#calculator{
	background-color:#f0cd63;
	color:white;
	text-align:center;
	height:100px;
	padding:15px;
}
#bottom-nav a{
	display:block;
	color: #f2f2f2;
  	padding: 14px 16px;
  	text-decoration: none;
  	font-size: 17px;
}
footer{
	display:flex;
	background-color:#504a4a;
	color:white;
}
footer section{
	width:25%;
}
form{
	display:flex;
	flex-direction:column;
	gap: 10px;
	max-width:400px;
	margin-top:20px;
	margin-left:auto;
	margin-right:auto;
	font-size:26pt;
}