body{
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
* {
	box-sizing: border-box;
}
.image_title{
	display:grid;
	grid-template-areas: 
	"img h2";
	grid-template-columns: 1fr 1fr;
}
header{
	background: linear-gradient(45deg, #c5c2da, #cea62e);
}
header h2{
	font-size:26pt;
	color:white;
	margin-right:10px;
}
#distinct_services{
	display:grid;
	grid-template-areas:
	"box1 box2"
	"box3 box4";
	grid-template-columns: 1fr 1fr;
}
#distinct_services section{
	margin:20px;
	box-shadow:2px 2px 6px 6px black;
}
#distinct_services h4{
	color:#dcb747;
}
#distinct_services h4 a{
	text-decoration:none;
	color:#dcb747;
}
#distinct_services img{
	width:100%;
	height:400px;
}
#top-nav{
	overflow:hidden;
 	background-color: #333;
}
header img{
	width:100px;
	height:auto;
	margin-left:10px;
}

#top-nav a{
	float:left;
	border:2px solid green;
	color: #f2f2f2;
  	text-align: center;
  	padding: 14px 16px;
  	text-decoration: none;
  	font-size: 17px;
  	width:33.33%;
}
#top-nav a:hover{
	background-color: #ddd;
  	color: black;
}
#calculator{
	background-color:#f0cd63;
	color:white;
	text-align:center;
	padding: 40px 0;
}
#bottom-nav a{
	display:block;
	color: #f2f2f2;
  	padding: 14px 16px;
  	text-decoration: none;
  	font-size: 17px;
}
footer{
	display:flex;
	background-color:#504a4a;
	color:white;
}
footer section{
	width:25%;
}
form{
	display:flex;
	flex-direction:column;
	gap: 10px;
	max-width:400px;
	margin-top:20px;
	margin-left:auto;
	margin-right:auto;
	font-size:26pt;
}
#calculatemenu{
	width:100%;
	padding: 70px 0;
	background: linear-gradient(45deg, #c5c2da, #cea62e);
	color:white;
	text-align:center;
	margin:0px;
	font-size:26pt;
}

.buttonclick{
	background-color:#97bf04;
}
.previous{
	background-color:#d9043d;
}
#box{
	display:flex;
	background-color:#dbd6d6;
	margin:20px;
	margin-top:0px;
	box-shadow: 2px 2px 6px 6px black;
}
#image{
	width:50%;
	height:600px;
	margin:20px;
	border:2px solid black;
}
#product_description{
	margin-top:20px;
	margin-right:20px;
	margin-bottom:20px;
	width:50%;
	color:white;
	font-size:26px;
}
#serviceheading{
	text-align:center;
}
button{
	width:25%;
	float: left;
  	text-align: center;
  	padding: 14px 16px;
  	text-decoration: none;
  	font-size: 17px;
}
#buttons{
	width:100%;
	border:2px solid green;
}







@media screen and (max-width:900px){
	#description{
		display:block;
	}
	#box{
		display:block;
		overflow:hidden;
	}
	#image{
		width:100%;
		margin:0px;
	}
	#product_description{
		width:100%;
	}
	#distinct_services{
		grid-template-areas:
		"box1"
		"box2"
		"box3"
		"box4";
		grid-template-columns: 1fr;
			}
	#distinct_services img{
		width:100%;
	}
	
}
@media screen and (max-width:600px){
	footer{
		display:block;
	}
	footer section{
		width:100%;
		border:2px solid white;
	}
	.image_title{
	display:grid;
	grid-template-areas: 
	"img" 
	"h2";
	grid-template-columns: 1fr;
	text-align:center;
	}
	#top-nav a{
		display:block;
		float:none;
		width:100%;
	}
}

